@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Create" asp-controller="Calendar">Create</a>
    <a asp-action="CreateFullCalendar" asp-controller="Calendar">CreateFullCalendar</a>
    <a asp-action="GetAllDoctors" asp-controller="Calendar">GetAllDoctors</a>
</div>

