@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="text-center">
    <h1 class="display-4" style="padding-top: 50px">BỆNH VIỆN ABC</h1>

    <img src="~/img/pngwing.com.png" style="padding-top:100px" />
    
</div>
